body{
font-family: "Roboto",sans-serif;
background-color: #FFFFFF;
color: #434455;
margin: 0;
justify-content: center;
flex-shrink: 0;
line-height: 60px;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
    margin: 0;
}
header{
    flex-shrink: 0;
}
.logo{
    color: #4D5AE5;
        font-family: "Raleway",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.stidio-logo{
    color: #2E2F42;
}
.menu-nav{
    color: #2E2F42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.2em;
}
.menu-nav:hover{
    color: #404bbf;
}
.menu-nav:focus{
    color: #404bbf;
}
.adress-list{
    font-style: normal;
}
.contact{
    color:#434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.2em;
}
.contact:hover{
    color: #404bbf;
}
.contact:focus{
    color: #404bbf;
}
h1{
font-weight: bold;
font-size: 56px;
letter-spacing: 2%;
line-height: 60px;
}
h2{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}
h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}